<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Consulta</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="card card-default">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <%= simple_form_for [:dashboard, @patient, @appointment] do |f| %>
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <%= f.input :appointment_date, as: :date, html5: true %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <%= f.input :appointment_type, as: :select, collection: Appointment.translated_appointment_types %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
        <%= f.input :formatted_price, as: :string, input_html: { class: 'input--brl-money input--brl-money-public' } %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <%= f.input :payment_status, as: :select, collection: Appointment.translated_payment_statuses, include_blank: false %>
                  </div>
                </div>
              </div>
            </div>
            <div class="actions">
              <%= f.button :submit %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
