<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Paciente</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <%= simple_form_for [:dashboard, @patient] do |f| %>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.input :first_name %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.input :last_name %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.input :birth_date, as: :date, html5: true %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.input :gender, label: 'Qual é o sexo do cliente?', as: :radio_buttons, collection: [['M', 'Masculino'], ['F', 'Feminino']], label_method: :last, value_method: :first, checked: @patient.gender, item_wrapper_class: 'inline' %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.association :user, label_method: :first_name, value_method: :id, include_blank: false %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.input :cpf %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.input :email, as: :email %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.input :phone, as: :tel %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.input :street %>
                </div>
              </div>
              <div class="col-md-1">
                <div class="form-group">
                  <%= f.input :number %>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <%= f.input :city %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.input :state %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.text_area :obs, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :avatar do %>
                  <%= f.file_field :avatar %>
                  <%= f.hidden_field :avatar_cache %>
                <% end %>
              </div>
            </div>
            <%= f.submit 'Salvar' %>
          </div>
      </div>
    </div>
        <% end %>
  </div>
  </div>
  </div>
</section>
