<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Paciente</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <%= simple_form_for([:dashboard, @pacient]) do |f| %>
            <div class="card-body">
              <!-- First row -->
              <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                    <%= f.input :first_name %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <%= f.input :last_name %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <%= f.input :birth_date, as: :date, html5: true %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <%= f.association :user, label_method: :email, value_method: :id, include_blank: false %>
                  </div>
                </div>
              </div>
              <!-- /.First row -->
              <!-- /.Second row -->
              <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                  <%= f.input :gender, as: :radio_buttons, collection: [['0', 'Mulher'], ['1', 'Homem']], label_method: :second, value_method: :first %>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                  <%= f.input :cpf %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <%= f.input :email, as: :email %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <%= f.input :phone, as: :tel %>
                  </div>
                </div>
              </div>
              <!-- /.Second row -->
              <!-- /.Third row -->
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                  <%= f.input :street %>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="form-group">
                  <%= f.input :number %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <%= f.input :city %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <%= f.input :state %>
                  </div>
                </div>
              </div>
              <!-- /.Third row -->
              <!-- /.Fourth row -->
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                  <%= f.text_area :obs, class: "form-control" %>
                  </div>
                </div>
              </div>
              <!-- /.Fourth row -->
              <!-- /.Fifth row -->
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.label :avatar do %>
                      <%= f.file_field :avatar %>
                      <%= f.hidden_field :avatar_cache %>
                    <% end %>
                  </div>
                </div>
              </div>
              <!-- /.Fifth row -->
            </div>
            <!-- /.card-body -->
            <div class="actions">
              <%= f.button :submit %>
            </div>
        <% end %>
      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->



  
