<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Anamnese</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="card card-default">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <%= simple_form_for @anamnesis, url: :dashboard_patient_appointment_anamnesis do |f| %>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.input :reason %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.input :first_reason %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.input :second_reason %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.input :third_reason %>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <%= f.input :drink_soda, as: :boolean, checked_value: false, unchecked_value: true, input_html: { class: 'form-check-input' } %>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <%= f.input :drink_juice, as: :boolean, checked_value: false, unchecked_value: true, input_html: { class: 'form-check-input' } %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :health_situation %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :drugs_and_supplements %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :smoker, as: :boolean, checked_value: false, unchecked_value: true, input_html: { class: 'form-check-input' } %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :alcohol, as: :boolean, checked_value: false, unchecked_value: true, input_html: { class: 'form-check-input' } %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :alergies %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :hair_loss, as: :boolean, checked_value: false, unchecked_value: true, input_html: { class: 'form-check-input' } %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :beento_nutri %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :bowel %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :constipation %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.input :brystol %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.input :urine %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :water_consumption %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :chewing %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :sleep %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :can_eat %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :candy %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :candy_frequency %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :cant_eat %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :eat_out %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :exercise %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :exercise_duration %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :exercise_frequency %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :exercise_tired %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :exercise_type %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :food_intolerance %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :fried_food %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :fried_frequency %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :legumes_fruits_leaves %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :make_your_food %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :oats %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :stress %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <%= f.input :third_reason %>
                  </div>
                </div>
              </div>
            </div>
            <div class="actions">
              <%= f.button :submit %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
