<!DOCTYPE html>
<html>

<head>
    <title>Nutrigemeas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%= render partial: "layouts/shared/header" %>
        <%= render partial: "layouts/shared/sidebar" %>
        <div class="content-wrapper">
            <%= yield %>
        </div>
        <%= render partial: "layouts/shared/footer" %>
    </div>
</body>

</html>