 <!DOCTYPE html>
 <html>

 <head>
     <title>NutriGemeas</title>
     <%= csrf_meta_tags %>
     <%= csp_meta_tag %>
     <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script src="https://kit.fontawesome.com/6d90f39943.js"></script>
 </head>

 <body class="hold-transition login-page">
     <div class="login-box">
         <%= yield %>
     </div>
 </body>

 </html>